<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>The HTML5 Herald</title>

<style>
table {
	border-collapse: collapse;
	width: 100%;
}

td,th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(2n) {
	background-color: #f1f1f1;
}

</style>
	<script>
		setTimeout(function(){
			window.location.reload(1);
		},500);
	</script>

	</head>

	<body>
		<h1> Currently playing:  </h1>

		<table>

<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> <div> </div><div style="float:right">[playing]</div></p>
</form>
</td>
</tr>
</table>
<footer style="position: fixed; bottom: 0; background-color: white">
Better than spotify©
</footer>
</body>
</html>
