<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>The HTML5 Herald</title>

		<style>
table {
	border-collapse: collapse;
	width: 100%;
}

td,th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(2n) {
	background-color: #f1f1f1;
}

		</style>

	</head>

	<body>
		<h1> The ultimate intelligent sound system  </h1>
		<h2>  Song list:  </h2>

	<table>
</table>
<div style="float: left; width:25%; padding: 5% 0 0 0" >
<form method="get" action="/"><input type="submit" value="< Back"></form></div>
<footer style="position: fixed; bottom: 0; background-color: white">
Better than spotify©
</footer>
</body>
</html>
