<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>The HTML5 Herald</title>

		<style>
table {
	border-collapse: collapse;
	width: 100%;
}

td,th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(2n) {
	background-color: #f1f1f1;
}

		</style>

	</head>

	<body>
		<h1> The ultimate intelligent sound system  </h1>
		<h2>  Song list:  </h2>

	<table>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Shake the Ground - Kill The Noise </p>
<p hidden name="todelete" value=" 0 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Excision & Sullivan King - Fight Through The Pain (Official Audio) </p>
<p hidden name="todelete" value=" 1 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Who Do You Love - The Chainsmokers </p>
<p hidden name="todelete" value=" 2 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Kills You Slowly - The Chainsmokers </p>
<p hidden name="todelete" value=" 3 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Counting Stars - OneRepublic </p>
<p hidden name="todelete" value=" 4 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> L'indécis - Soulful </p>
<p hidden name="todelete" value=" 5 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Aso - Blankets </p>
<p hidden name="todelete" value=" 6 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> 7 rings - Ariana Grande </p>
<p hidden name="todelete" value=" 7 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Circles (Original) - KDrew </p>
<p hidden name="todelete" value=" 8 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> FRIENDS - Anne-Marie </p>
<p hidden name="todelete" value=" 9 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
<tr>
<td>
<form method="post" action="/remove">
<p style="display: flex; float: left; margin-right: 10px;"> Chopin - Nocturne op.9 No.2 </p>
<p hidden name="todelete" value=" 10 "></p><input style="display: flex; justify-content: center; padding-block: 5px;" type="submit" value="Delete song"></form>
</td>
</tr>
</table>
<div style="float: left; width:25%; padding: 5% 0 0 0" >
<form method="get" action="/"><input type="submit" value="< Back"></form></div>
<footer style="position: fixed; bottom: 0; background-color: white">
Better than spotify©
</footer>
</body>
</html>
